In [ ]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.2'
os.environ['SPARK_VERSION']=spark_version
import os

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark
!wget -q https://downloads.apache.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
!sudo pip install py4j

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"


# Start a SparkSession
import findspark
findspark.init()

In [ ]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

In [2]:
import os
import findspark as fs
fs.init()

In [3]:
!brew install openjdk@11

Warning: openjdk@11 11.0.16.1_1 is already installed and up-to-date.
To reinstall 11.0.16.1_1, run:
  brew reinstall openjdk@11

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/15 18:27:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
# Read in data from S3 Buckets
import pandas
from pyspark import SparkFiles
url="https://atlantic-hurricanes.s3.amazonaws.com/Resources/atlantic.csv" #Enter you S3 bucket URL (can be found in the summary of your bucket item in AWS)
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("atlantic.csv"), sep=",", header=True, inferSchema=True)



# Show DataFrame
df.head()

22/11/15 18:30:46 WARN SparkContext: The path https://atlantic-hurricanes.s3.amazonaws.com/Resources/atlantic.csv has been added already. Overwriting of added paths is not supported in the current version.

Row(ID='AL011851', Name='            UNNAMED', Date=18510625, Time=0, Event='  ', Status=' HU', Latitude='28.0N', Longitude='94.8W', Maximum Wind=80, Minimum Pressure=-999, Low Wind NE=-999, Low Wind SE=-999, Low Wind SW=-999, Low Wind NW=-999, Moderate Wind NE=-999, Moderate Wind SE=-999, Moderate Wind SW=-999, Moderate Wind NW=-999, High Wind NE=-999, High Wind SE=-999, High Wind SW=-999, High Wind NW=-999)

In [9]:
df.show()

+--------+-------------------+--------+----+-----+------+--------+---------+------------+----------------+-----------+-----------+-----------+-----------+----------------+----------------+----------------+----------------+------------+------------+------------+------------+
|      ID|               Name|    Date|Time|Event|Status|Latitude|Longitude|Maximum Wind|Minimum Pressure|Low Wind NE|Low Wind SE|Low Wind SW|Low Wind NW|Moderate Wind NE|Moderate Wind SE|Moderate Wind SW|Moderate Wind NW|High Wind NE|High Wind SE|High Wind SW|High Wind NW|
+--------+-------------------+--------+----+-----+------+--------+---------+------------+----------------+-----------+-----------+-----------+-----------+----------------+----------------+----------------+----------------+------------+------------+------------+------------+
|AL011851|            UNNAMED|18510625|   0|     |    HU|   28.0N|    94.8W|          80|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510625| 600|     |    HU|   28.0N|    95.4W|          80|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510625|1200|     |    HU|   28.0N|    96.0W|          80|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510625|1800|     |    HU|   28.1N|    96.5W|          80|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510625|2100|    L|    HU|   28.2N|    96.8W|          80|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510626|   0|     |    HU|   28.2N|    97.0W|          70|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510626| 600|     |    TS|   28.3N|    97.6W|          60|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510626|1200|     |    TS|   28.4N|    98.3W|          60|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510626|1800|     |    TS|   28.6N|    98.9W|          50|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510627|   0|     |    TS|   29.0N|    99.4W|          50|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510627| 600|     |    TS|   29.5N|    99.8W|          40|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510627|1200|     |    TS|   30.0N|   100.0W|          40|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510627|1800|     |    TS|   30.5N|   100.1W|          40|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL011851|            UNNAMED|18510628|   0|     |    TS|   31.0N|   100.2W|          40|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL021851|            UNNAMED|18510705|1200|     |    HU|   22.2N|    97.6W|          80|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL031851|            UNNAMED|18510710|1200|     |    TS|   12.0N|    60.0W|          50|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL041851|            UNNAMED|18510816|   0|     |    TS|   13.4N|    48.0W|          40|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL041851|            UNNAMED|18510816| 600|     |    TS|   13.7N|    49.5W|          40|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL041851|            UNNAMED|18510816|1200|     |    TS|   14.0N|    51.0W|          50|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
|AL041851|            UNNAMED|18510816|1800|     |    TS|   14.4N|    52.8W|          50|            -999|       -999|       -999|       -999|       -999|            -999|            -999|            -999|            -999|        -999|        -999|        -999|        -999|
+--------+-------------------+--------+----+-----+------+--------+---------+------------+----------------+-----------+-----------+-----------+-----------+----------------+----------------+----------------+----------------+------------+------------+------------+------------+
only showing top 20 rows

In [15]:
df.toPandas()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,AL122015,KATE,20151112,1200,,EX,41.3N,50.4W,55,981,...,180,120,120,120,60,0,0,0,0,0
49101,AL122015,KATE,20151112,1800,,EX,41.9N,49.9W,55,983,...,180,120,120,120,60,0,0,0,0,0
49102,AL122015,KATE,20151113,0,,EX,41.5N,49.2W,50,985,...,200,220,120,120,60,0,0,0,0,0
49103,AL122015,KATE,20151113,600,,EX,40.8N,47.5W,45,985,...,180,220,0,0,0,0,0,0,0,0
49104,AL122015,KATE,20151113,1200,,EX,40.7N,45.4W,45,987,...,150,220,0,0,0,0,0,0,0,0