In [24]:
# Add the dependencies.
import json
import pandas as pd
import numpy as np
import os
import re
import matplotlib.pyplot as plt
import geopandas as gpd
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'geopandas'

In [9]:
filepath = "atlantic.csv"

atlantic_df = pd.read_csv(filepath)
atlantic_df.sample(10)

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
2631,AL051874,UNNAMED,18740910,1800,,TS,38.5N,65.1W,50,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
12537,AL031913,UNNAMED,19130829,1200,,TS,13.0N,36.0W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
18694,AL061937,UNNAMED,19370915,1200,,HU,21.4N,57.4W,110,955,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
9577,AL021901,UNNAMED,19010707,1200,,TS,21.5N,83.5W,60,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
14363,AL031923,UNNAMED,19230907,1800,,TS,13.7N,20.3W,35,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
6100,AL031889,UNNAMED,18890820,600,,TS,18.7N,70.6W,35,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
10465,AL101903,UNNAMED,19031124,1800,,HU,39.4N,40.9W,70,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
219,AL051852,UNNAMED,18521009,0,,HU,25.6N,86.4W,90,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
16082,AL021931,UNNAMED,19310712,600,,TD,17.5N,86.0W,30,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
12494,AL011913,UNNAMED,19130624,600,,TS,15.8N,84.0W,35,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [10]:
atlantic_df.count()

ID                  49105
Name                49105
Date                49105
Time                49105
Event               49105
Status              49105
Latitude            49105
Longitude           49105
Maximum Wind        49105
Minimum Pressure    49105
Low Wind NE         49105
Low Wind SE         49105
Low Wind SW         49105
Low Wind NW         49105
Moderate Wind NE    49105
Moderate Wind SE    49105
Moderate Wind SW    49105
Moderate Wind NW    49105
High Wind NE        49105
High Wind SE        49105
High Wind SW        49105
High Wind NW        49105
dtype: int64

In [16]:
atlantic_df.dtypes

ID                  object
Name                object
Date                 int64
Time                 int64
Event               object
Status              object
Latitude            object
Longitude           object
Maximum Wind         int64
Minimum Pressure     int64
Low Wind NE          int64
Low Wind SE          int64
Low Wind SW          int64
Low Wind NW          int64
Moderate Wind NE     int64
Moderate Wind SE     int64
Moderate Wind SW     int64
Moderate Wind NW     int64
High Wind NE         int64
High Wind SE         int64
High Wind SW         int64
High Wind NW         int64
dtype: object

In [17]:
#Removing all -999 / null values
cleaned_atl_df = atlantic_df[atlantic_df['Low Wind SW'] != -999]

cleaned_atl_df

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
43104,AL012004,ALEX,20040731,1800,,TD,30.3N,78.3W,25,1010,...,0,0,0,0,0,0,0,0,0,0
43105,AL012004,ALEX,20040801,0,,TD,31.0N,78.8W,25,1009,...,0,0,0,0,0,0,0,0,0,0
43106,AL012004,ALEX,20040801,600,,TD,31.5N,79.0W,25,1009,...,0,0,0,0,0,0,0,0,0,0
43107,AL012004,ALEX,20040801,1200,,TD,31.6N,79.1W,30,1009,...,0,0,0,0,0,0,0,0,0,0
43108,AL012004,ALEX,20040801,1800,,TS,31.6N,79.2W,35,1009,...,50,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,AL122015,KATE,20151112,1200,,EX,41.3N,50.4W,55,981,...,180,120,120,120,60,0,0,0,0,0
49101,AL122015,KATE,20151112,1800,,EX,41.9N,49.9W,55,983,...,180,120,120,120,60,0,0,0,0,0
49102,AL122015,KATE,20151113,0,,EX,41.5N,49.2W,50,985,...,200,220,120,120,60,0,0,0,0,0
49103,AL122015,KATE,20151113,600,,EX,40.8N,47.5W,45,985,...,180,220,0,0,0,0,0,0,0,0
49104,AL122015,KATE,20151113,1200,,EX,40.7N,45.4W,45,987,...,150,220,0,0,0,0,0,0,0,0

In [22]:
# Drop the excess wind columns leaving only the max wind
cleaned_atl_df = atlantic_df.drop(columns=["Low Wind NE", "Low Wind SE", "Low Wind SW", "Low Wind NW",
                                            "Moderate Wind NE","Moderate Wind SE","Moderate Wind SW","Moderate Wind NW",
                                            "High Wind NE","High Wind SE","High Wind SW","High Wind NW"])
cleaned_atl_df.sample(10)

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure
43313,AL062004,FRANCES,20040906,0,,TS,28.1N,82.3W,55,978
32773,AL101978,ELLA,19780902,600,,HU,31.4N,73.1W,100,977
42897,AL162003,KATE,20031002,0,,HU,31.1N,42.1W,65,987
1212,AL061863,UNNAMED,18630918,600,,TS,32.9N,78.0W,60,-999
31314,AL101974,CARMEN,19740830,1200,,TS,17.0N,67.4W,35,-999
39041,AL121995,KAREN,19950903,0,,TD,33.0N,61.5W,30,1002
23720,AL101954,FLORENCE,19540911,600,,TS,22.3N,95.2W,45,-999
1264,AL031864,UNNAMED,18640828,1800,,HU,15.4N,69.6W,70,-999
34554,AL211981,KATRINA,19811105,600,,HU,19.6N,80.8W,65,988
38446,AL031994,BERYL,19940814,1800,,TD,29.4N,87.3W,25,1012