### Analysis of intensity: Using available data, has there a change in intensity since 1852?

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from sqlalchemy import create_engine
import psycopg2
from sqlalchemy import create_engine
from config import db_password
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/final_project"
engine = create_engine(db_string)

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
# Read data from PostgreSQL database table and load into a DataFrame instance

Hurricane_df= pd.read_sql("select * from \"AL_Hurricane\"", db_string);

pd.set_option('display.expand_frame_repr', False);

# Print the DataFrame

#Hurricane_df = Hurricane_df.set_index('ID')
Hurricane_df

           ID                 Name  Year  Month  Day  Time  Latitude  Longitude  Maximum Wind  Minimum Pressure   DB   EX   HU   LO   SD   SS   TD   TS   WV
0       11852              UNNAMED  1852      8   26   600      30.2      -88.6           100               961    0    0    1    0    0    0    0    0    0
1       11856              UNNAMED  1856      8   10  1800      29.2      -91.1           130               934    0    0    1    0    0    0    0    0    0
2       11871              UNNAMED  1871      6    4   700      29.1      -95.1            50               999    0    0    0    0    0    0    0    1    0
3       11871              UNNAMED  1871      6    4   600      28.9      -95.0            50               999    0    0    0    0    0    0    0    1    0
4       11876              UNNAMED  1876      9    9  1800      40.7      -59.3            80               970    0    0    1    0    0    0    0    0    0
...       ...                  ...   ...    ...  ...   ...       ...        ...           ...               ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
18431  312005                 ZETA  2006      1    7   600      24.2      -52.7            25              1012    0    0    0    1    0    0    0    0    0
18432  312005                 ZETA  2006      1    7  1200      24.8      -54.2            25              1014    0    0    0    1    0    0    0    0    0
18433  312005                 ZETA  2006      1    7  1800      26.3      -55.7            25              1016    0    0    0    1    0    0    0    0    0
18434  312005                 ZETA  2006      1    4  1800      21.7      -44.6            40              1002    0    0    0    0    0    0    0    1    0
18435  312005                 ZETA  2005     12   31  1200      25.7      -37.9            50               997    0    0    0    0    0    0    0    1    0

[18436 rows x 19 columns]

In [5]:
# Drop the null rows
Hurricane_df = Hurricane_df.dropna()

In [6]:
Hurricane_df["ID"] = pd.to_numeric(Hurricane_df["ID"])
Hurricane_df = Hurricane_df.drop(columns=["Name", "Latitude","Longitude"])

In [7]:
Hurricane_df.dtypes

ID                  int64
Year                int64
Month               int64
Day                 int64
Time                int64
Maximum Wind        int64
Minimum Pressure    int64
 DB                 int64
 EX                 int64
 HU                 int64
 LO                 int64
 SD                 int64
 SS                 int64
 TD                 int64
 TS                 int64
 WV                 int64
dtype: object

In [8]:
Hurricane_df = Hurricane_df.values

In [9]:
X = Hurricane_df["Minimum Pressure","DB","EX","HU","LO","SD","SS","TD","TS","WV"]
y = Hurricane_df["Maximum Wind"]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices